
.app {
  transition: background-color 0.5s ease-in-out;
  text-align: center;
  padding: 50px;
}

/* Day and Night Styles */
.day {
  background-color: #87CEEB;
  color: #000;
}

.night {
  background-color: #333; 
  color: #fff;
}

/* Weather Condition Styles */
.clear {
  background-color: #87CEEB;
}

.clouds {
  background-color: #ddd; 
}

.rain {
  background-color: #666;
  color: #fff;
}

.snow {
  background-color: #fff; 
}

.thunderstorm {
  background-color: #1E90FF; 
  color: #fff; 
}

.extreme {
  background-color: #FF4500; 
  color: #fff;
}
